<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>visa</key>
	<dict>
		<key>kid</key>
		<string>747da056-476c-4296-a7c4-7e853e235ef0</string>
		<key>certificate</key>
		<string>ds-visa.der</string>
		<key>ids</key>
		<array>
			<string>A000000003</string>
		</array>
	</dict>
	<key>mastercard</key>
	<dict>
		<key>kid</key>
		<string>116f90eee124062e2ca9c8efeb54802c34d963a0</string>
		<key>certificate</key>
		<string>ds-mastercard.der</string>
		<key>ids</key>
		<array>
			<string>A000000004</string>
		</array>
	</dict>
	<key>amex</key>
	<dict>
		<key>certificate</key>
		<string>ds-amex.der</string>
		<key>ids</key>
		<array>
			<string>A000000025</string>
		</array>
	</dict>
	<key>ec_scheme</key>
	<dict>
		<key>certificate</key>
		<string>ec_cert.der</string>
		<key>ids</key>
		<array>
			<string>F000000001</string>
			<string>F155545342</string>
		</array>
	</dict>
	<key>rsa_scheme</key>
	<dict>
		<key>certificate</key>
		<string>rsa_cert.der</string>
		<key>ids</key>
		<array>
			<string>F055545342</string>
			<string>F000000000</string>
		</array>
	</dict>
</dict>
</plist>
